<!-- leanding Page -->
<section class="leanding">
    <!-- navbar -->
    <nav class=" container navbar navbar-expand-lg navbar-light">
        <!-- Container wrapper -->
        <a class="navbar-brand pt-1 me-2 fw-bold">
            <img src="/assets/logo.PNG" width="120px" height="30px" alt="">
        </a>
        <div class="container-fluid">
            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarRightAlignExample" aria-controls="navbarRightAlignExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarRightAlignExample">
                <!-- Left links -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0" style="color: rgba(255, 235, 205, 0.774);">
                    <li class="nav-item me-5">
                        <a class="nav-link active fw-bold" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link fw-bold" >Menu</a>
                    </li>
                    <!-- Navbar dropdown -->

                    <li class="nav-item me-4">
                        <a class="nav-link fw-bold ">services</a>
                    </li>
                    <li class="nav-item me-4">
                        <a class="nav-link fw-bold" href="">Contacts</a>
                    </li>
                    <li> <span class="btn btn-success btn-sm fw-bold mt-1 text-black">Login</span></li>
                </ul>
                <!-- Left links -->
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
<app-leanding></app-leanding>
<router-outlet></router-outlet>
